@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Playfair+Display&display=swap');

.addProduct {
    margin: 0 auto;
    text-transform: uppercase;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    background-color: white;
}

.inputs input {
    display: block;
    margin-top: 10px;
    border: 1px solid rgb(185, 185, 185);
    padding: 5px;
}

.inputs button {
    margin-top: 10px;
    width: 50%;
    /* border: 1px solid gray; */
    text-transform: uppercase;
    margin-top: 30px;
    border: none;
}

.btn-admin{
    padding: 4px;
    width: 30%;
    background-color: rgb(255, 253, 143);
    border: 2px solid black;
    transition: all 0.1s;
    color: #000;
}

.btn-admin:hover{
    background-color: rgb(255, 253, 173);
}