@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Playfair+Display&display=swap');

.navbar {
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.first_nav {
    font-weight: bold;
}